
// 进入页动画
.turn-on {
    &-enter {
        transform: translate3d(100%, 0, 0);
    }
    &-leave-to {
        transform: translate3d(-20%, 0, 0);
    }
    &-enter-active, &-leave-active  {
        transition: transform .4s ease;
    }
}

// 回滚页动画
.turn-off {
    &-enter {
        transform: translate3d(-20%, 0, 0);
    }
    &-leave-to {
        transform: translate3d(100%, 0, 0);
    }
    &-leave-active {
        z-index: 2;
    }
    &-enter-active, &-leave-active  {
        transition: transform .4s ease;
    }
}

// 播放列表动画 
.list-view-enter-active, .list-view-leave-active {
    transition: transform .5s ease;
}
.list-view-enter, .list-view-leave-to{
    transform: translateY(100%);
}

// 顶部动画
.title-enter-active, .title-leave-active {
    transition-property: opacity, transform;
    transition-duration: .5s;
}
.title-enter, .title-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

// 旋转
.spin-slow {
    animation: spin 6s linear infinite;
}
.spin {
    animation: spin 30s linear infinite;
}
.spin-stop {
    animation: spin 6s linear infinite paused;
}
@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}